*{
  box-sizing: border-box;
}

/* body{
    margin:20px;
    align-items: center;
    display: flex;
    justify-content: center;
  } */

  .from122 {
    
    background-color: rgb(175, 198, 198);
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    padding: 80px;
    width: 520px;
    display: block;
  }
  .text{
    text-align: center;
    display: block;
  }
  .coll-11 {
    width: 360px;

  }
  