*{
  box-sizing: border-box;
}

/* body{
    margin:20px;
    align-items: center;
    display: flex;
    justify-content: center;

  } */

  .from122 {
    
    background-color: rgb(222, 240, 240);
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    padding: 80px;
    width: 620px;
    display: block;
  }
  .text{
    text-align: center;
    display: block;
  }
  .coll-11 {
    width: 460px;
    height: auto;
    background-color: azure;

  }
  