body {
  
    align-items: center;
    display: flex;
    justify-content: center;
   
  }
  /* body{
    background-image: url("img/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
  } */
  
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
  }
  .btn12{
    background-color: #f7f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 10;
  }
  .btn12:hover {
    background-color: aqua;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .input-container {
    height: 35px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 8px;
  }
  
.bg12{
    color: #eee;
    font-family: sans-serif;
   
}
  .input {
    background-color: #303245;
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 12px 20px 0;
    width: 100%;
  }
  
 
